{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}

{% block app_content %}


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='contract.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>

<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-pyp1">
<span>Add Script</span>
</button>
<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-pyp2">
<span>Add Template</span>
</button>

{{modal('Add Script', '-pyp1', wtf.quick_form(form, button_map={'submit':'success btn btn-sm'},id="scriptform" ), style="display:none;" )}}
{{modal('Add Template', '-pyp2', wtf.quick_form(form_template, button_map={'create':'success btn btn-sm'} ), style="display:none;" )}}



<!DOCTYPE html>
<html>
<body>

<h1>The XMLHttpRequest Object</h1>

<p id="demo">Let AJAX change this text.</p>

<button type="button" onclick="loadDoc()">Change Content</button>
{% block scripts %}
{{super()}}
<script>
function loadDoc() {
  var xhttp;
  if (window.XMLHttpRequest) {
    // code for modern browsers
    xhttp = new XMLHttpRequest();
    } else {
    // code for IE6, IE5
    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
      console.log.(this.responseText)
    }
  };
  xhttp.open("GET", '{{url_for("data.cors", url="""http://google.com""")}}', true);
  xhttp.send();
}
</script>
{% endblock %}
</body>
</html>

      
         




    














{% endblock %}