{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}

{% block app_content %}


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='contract.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>

<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-pyp1">
<span>Add Script</span>
</button>
<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-pyp2">
<span>Add Template</span>
</button>

{{modal('Add Script', '-pyp1', wtf.quick_form(form, button_map={'submit':'success btn btn-sm'},id="scriptform" ), style="display:none;" )}}
{{modal('Add Template', '-pyp2', wtf.quick_form(form_template, button_map={'create':'success btn btn-sm'} ), style="display:none;" )}}


<form action="" method="post" novalidate>
	{{ form2.hidden_tag() }}
{% for key, value in record.items() %}
<p>
	{{ form2|attr(key)|attr('label') }}
    
</p>

<p>
	{{ form2|attr(key)() }}
</p>



    
{% endfor %}
<p>
{{ form2.send() }}
</p>
</form>



      
         




    














{% endblock %}