.flex-container {
  display: flex;
  wwwbackground: blue;
  align-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  

  
}
.flex-item{

align-content: space-around;
margin: 0.5%;



}


#flex-container-button.flex-container{


justify-content: flex-end;

}



#flex-container-location-button.flex-container{


justify-content: flex-end;

}
#flex-container-button.flex-item{




}


.container .right{


margin-left: auto;
float: right;

}


#flex-container-button-net.flex-container{


justify-content: flex-end;

}
input[type="file"] {
    display: none;
}


#file-button.label{
    padding: 20px;
    background: #17a2b8; 
    display: table;
    color: #fff;
    font-weight: normal;
     }

.panel-success>.panel-heading {


color:white;


}

