{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import netpanel with context %}
{% from "macros.html" import netpanelbtn with context %}
{% block app_content %}
</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<p></p>
<div id="flex-container-button"  class="flex-container"> 
<div id="flex-item-button-net" class="flex-item">
{{ form.send(class="btn btn-sm btn-success",form="configform") }}
</div>

<div id="flex-item-button-net3" class="flex-item">
{{ form.add(class="btn btn-sm btn-primary",form="configform") }}
</div>
<div id="flex-item-button-net2" class="flex-item">
  <a class="btn btn-success btn-sm" href="{{ url_for('main.contract',id=contract.id) }}">Back</a></div>
</div>



</div>
</div>
<p></p>


<form id="configform" class="flex-container" action="" method="post" novalidate>



{{ form.hidden_tag() }}
{% if 'MPLS' in tech %}
{{netpanel(1,3,'Logindata' )}}
{{netpanelbtn(2,3,12,'MPLS Data')}}
{{netpanelbtn(2,12,16,'Linknet')}}
{{netpanelbtn(2,16,27,'Customernet')}}
{{netpanelbtn(2,27,99,'Additional Data')}}
{% endif %}
{% if 'CIA' in tech %}
{{netpanel(1,3,'Logindata' )}}
{%for i in list_count %}
{{netpanelbtn(2,i,i+10,'Net')}}
{% endfor %}
{{netpanelbtn(2,number_nets,99,'IPv6')}}
{% endif %}
{% if 'Mobile' in tech %}
{{netpanel(1,99,'Logindata' )}}
{% endif %}



</form>
{% endblock %}









