

<script>
 $(document).ready(function(){

  var xhttp;
  var xhttp2;
  if (window.XMLHttpRequest) {
    // code for modern browsers
    xhttp = new XMLHttpRequest();
    xhttp2 = new XMLHttpRequest();
    } else {
    // code for IE6, IE5
    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
      document.getElementById("container-loader").style["display"]="none";
      
    }
  };

  xhttp.open("GET", '{{url_for("main.bo_journals", contract=contract.contract)}}', true);
  
  xhttp.send();
 



}); 


try{
 $(document).ready(function(){
  
  
  var xhttp2;
  if (window.XMLHttpRequest) {
    // code for modern browsers
    
    xhttp2 = new XMLHttpRequest();
    } else {
    // code for IE6, IE5
    xhttp2 = new ActiveXObject("Microsoft.XMLHTTP");
  }

  xhttp2.onreadystatechange =  function() {
    if (this.readyState == 4 && this.status == 200); {
      
      document.getElementById("ilvt-insert").innerHTML = this.responseText;
      
      
    }
  };
  
 window.setTimeout(function() {
 xhttp2.open("GET", '{{url_for("main.bo_ilvt_view", contract=contract.id)}}', true);
 xhttp2.send();
}, 3000);
 }); 

}

catch(err){

  console.log('Exception')
}




window.setTimeout(function() {

  document.getElementById("container-loader").style["display"]="none";

}, 5000);

</script>







<div id="flex-container-button" class="flex-container"> 
  
<div id="flex-item-button" class="flex-item">


<div><a href="javascript: edit_row({{contract.id}});" class="btn btn-info btn-sm" id="edit_button{{contract.id}}">
          <span> Edit</span></a>
          <a style="display:none; "href="javascript: save_row({{contract.id}});" class="btn btn-success btn-sm" aria-disabled="true" id ="save_button{{contract.id}}">
          <span> Save</span>
        </a></div> </div>  <!-- End Div Flex Item -->


 
<div id="flex-item-button2" class="flex-item">
  <button id="router_todo" onclick="router_todo( {{contract.id}} )"  type="button" class="btn btn-info btn-sm " >
<span></span> Send Routerinfo</button></div> <!-- End Div flex-item-button2 -->
<div id="flex-item-button3" class="flex-item">
<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-info1">
<span> Add Note</span>
</button>
</div>
<div id="flex-item-button4" class="flex-item">
<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-script1">
<span>Script</span>
</button>
</div>
<div id="flex-item-button5" class="flex-item">
<button type="button" class="btn btn-info btn-sm"  data-toggle="modal" data-target="#modal-template1">
<span>Config</span>
</button>
</div>

{{modal('Add Note', '-info1', wtf.quick_form(form_info, button_map={'submit2':'success btn btn-sm'},id="testform" ), style="display:none;" )}}
{{modal('Activate Script', '-script1', wtf.quick_form(form_script, button_map={'send':'success btn btn-sm'},id="scriptform" ),style="display:none;",onclick="loading()" )}}
{{modal('Create Config', '-template1', wtf.quick_form(form_template, button_map={'submit':'success btn btn-sm'},id="templateform" ), style="display:none;" )}}



<div id="flex-item-back" class="flex-item">
  <a class="btn btn-success btn-sm" href="{{ url_for('main.locations',customername=contract.customer.name) }}">Back</a></div>
</div>  <!-- End Div Flex Container-Button -->

<p></p>
<!-- --------------------------------------------------------------------------------------------- -->

<div id="flex-container-contract" class="flex-container"> 
<div id="flex-item-contract" class="flex-item">
<div class="panel panel-info">

<div class="panel-heading">Info</div>
<div class="panel-body">






<table class="table  table-responsive">


  <tbody>
  
 <tr><td Style="color:#31708f;">Residence</td><td id="residence_contract" >{{contract.residence}}</td><td Style="color:#31708f;">Contact</td><td id="contact_contract" >{{contract.contact}}</td></tr>
<tr><td Style="color:#31708f;">Project</td><td id="project_contract">{{contract.project}}</td><td Style="color:#31708f;">Projectmanager</td><td id="projectmanager_contract">{{contract.projectmanager}}</td>
<tr><td Style="color:#31708f;">Seller</td><td id="seller_contract" >{{contract.seller}}</td><td Style="color:#31708f;">Matchcode</td><td id="matchcode_contract" >{{contract.matchcode}}</td></tr>
<tr><td Style="color:#31708f;">Hardware</td><td id="hardware_contract">{{contract.hardware.first().name}}</td><td Style="color:#31708f;" >Serialnumber</td><td id="sn_contract">{{contract.hardware.first().sn}}</td></tr>
<tr><td Style="color:#31708f;">Technology</td><td id="technology_contract">{{contract.technology}}</td><td Style="color:#31708f;">VRF</td><td id="vrf_contract">{{contract.vrf}}</td></tr>
<tr><td Style="color:#31708f;">Contract</td><td id="contract_contract">{{contract.contract}}</td><td Style="color:#31708f;">Sid</td><td id="sid_contract" >{{contract.sid}}</td></tr>
<tr><td Style="color:#31708f;">Connector</td><td id="connector_contract">{{contract.connector}}</td></tr>




 




  	

</tbody>
</table>





<p></p>
<div id="container-loader" class="loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>

<div id="demo" ></div>



</div> <!--End Div Panel Body-->
</div> <!--End Div Panel-->

</div> <!--end container-contract item -->
</div> <!--end container-contract -->


<div id="flex-container-contract-info" class="flex-container"> 



{%for i in infos_t %}
<div id="flex-item-contract-info{{i.id}}" style="display:inline; "class="flex-item">
<div   class="panel panel-success">
<div class="panel-heading">Notes&nbsp;&nbsp;&nbsp; 
  <a href="javascript: edit_button_info({{i.id}});" class="btn btn-info btn-sm" id="edit_button_info{{i.id}}">
          <span>Edit</span></a>
  <div class="dropdown" style="display:inline;">
  <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><span>Append to ...</span>
  <span class="caret"></span></button>
  <ul class="dropdown-menu" >
    <li><a href="javascript: append_info( '{{i.id}}', '{{contract.customer.id}}' );">Append to Customer</a></li>
    <li><a href="javascript: append_all( '{{i.id}}', '{{contract.customer.id}}');">Append to All</a></li>
    
  </ul>
</div>

  <form style="display:none;" id="remove_button{{i.id}}" action="" method="post" >
  {{ wtf.form_field(form_remove.remove, label="", class=" btn btn-danger btn-sm") }}
  {{ form_remove.hidden_tag() }}
{{ form_remove.id_rem(value=i.id ,type="hidden" ) }}

</form>



</div> 
<div class="panel-body">

  {{i.infotext}}

</div> <!--End Div Panel Body  -->
</div> <!--End Div Panel    -->
</div> <!--flex-item-contract-info-->
{% endfor %}


</div> <!--flex-container-contract-info-->

