




<table class="table  table-responsive">
  <thead>
    <tr>
      
      <th scope="col">Residence</th>
      <th scope="col"> Project</th>
      <th scope="col">Projectmanager</th>
      <th scope="col">Hardware</th>
      <th scope="col">Technology</th>
      <th scope="col">Contract</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>

  <tbody>
  	<tr>
  		
      <td id="residence_sub"></td>
      <td id="project_sub"></td>
      <td id="projectmanager_sub"></td>
      <td id="hardware_sub"></td>
      <td id="technology_sub"></td>
      <td id="contract_sub"></td>










  	</tr>













