
<script>
	$(document).ready(function(){
var $modal = $('#modal-journal-show2');

// Show loader & then get content when modal is shown
$modal.on('show.bs.modal', function(e) {
  var href = $(e.relatedTarget).data('href');
   console.log('hallo');
  $(this)
    .addClass('modal-scrollfix')
    .find('.modal-body')
    .html('loading...')
    .load(href, function() {
      // Use Bootstrap's built-in function to fix scrolling (to no avail)
      $modal
        .removeClass('modal-scrollfix')
        .modal('handleUpdate');
    });
});

});
</script>

<div id="flex-container-journals-bo" class="flex-container"> 
<div id="flex-item_journals-bo" class=flex-item>

<table class="table  table-responsive">
<thead>
 

</thead>

<tbody>

{% for i in dict_data_journal %}
<tr>
	
 <td><a href="{{i}}">{{dict_data_journal.get(i)}}</a></td><td>{{dict_data_name.get(i)}}</td><td>{{dict_data_date.get(i)}}</td> 

</tr>


{% endfor %}

</tbody>
</table>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="modal-journal-show2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->

       <div class="modal-header modal-lg">
        <h4 class="modal-title">Journal</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
     

      <div class="modal-body modal-lg" id="modal-body" style="white-space: pre;">
     

       </div>
      </div>
    </div>
  </div>

