
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}

{% block app_content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='contract.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>

<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active"  id="Overview-tab" data-toggle="tab" href="#Overview" role="tab" aria-controls="home" aria-selected="true">Overview</a>

  </li>
  <li class="nav-item">
    <a class="nav-link active" id="Networks-tab" data-toggle="tab" href="#Networks" role="tab" aria-controls="home" aria-selected="true">Networks</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" id="Journals-tab" data-toggle="tab" href="#Journals" role="tab" aria-controls="home" aria-selected="true">Journals</a>
  </li>
 
</ul>
<div class="tab-content" id="TabContent" class="active" >
<div class="tab-pane active in " id="Overview" role="tabpanel" aria-labelledby="Overview-tab">


{% include '_contract_overview.html' %}


</div> <!--End Div Tab Panel-->
<p></p>


<div class="tab-pane fade out" id="Networks" role="tabpanel" aria-labelledby="Networks-tab" >

{% include '_contract_networks.html' %}



</div>

<p></p>

<div class="tab-pane fade out" id="Journals" role="tabpanel" aria-labelledby="Journals-tab" >
{% include '_contract_journals.html' %}
</div>

</div> <!-- End Div Tab Content -->

{% endblock %}











