{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% from "macros.html" import modal with context %}

 {% for error in form.name.errors %}
           
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>





         

 {% endfor %}


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='customers.js')}}"></script>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>


<!--Button to Open the Modal -->
<button type="button" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#modal-customer1">
<span>Add Customer</span>
</button>

{{modal('Add Customer', '-customer1', wtf.quick_form(form,button_map={'submit' : 'success btn btn-sm'}), style="display:none;" )}}


<p></p>


<div id="container_locations_main" class="container_locations_main" style="width: auto;"> 
<div  id="panel_main" class="panel panel-info">
<div class="panel-heading">&nbsp;&nbsp;&nbsp;</div>
<div class="panel-body">
    
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Customer</th>
       
    </tr>
  </thead>
<tbody>
{% for custquery in custquerys  %}
<tr>
      
      <td><a href="{{ url_for('main.locations',customername=custquery.name ) }}">{{custquery.name}}</a></td>
      
</tr>


{% endfor %}

</tbody>
</table>

</div> <!-- End Div Panel-Body-->
</div> <!-- End Div  Panel-Container-->



    
{% endblock %}


