{% extends "base.html" %}                                                                                 {% import 'bootstrap/wtf.html' as wtf %} 
{% block app_content %} 



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">Gateway</th>
      <th scope="col">Network</th>
      <th scope="col">Technologie</th>
      <th scope="col">Project</th>
      <th scope="col">#</th>
    </tr>
  </thead>
<tbody>

 <tr>

      <th scope="row">{{1}}</th>
      <td>{{arg.residence}}</td>
      <td>{{arg.project}}</td>
      <td>{{arg.projectmanager}}</td>
      <td>{{arg.hardware}}</td>
      <td>{{arg.technology}}</td>
      


    </tr>
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
<div class="form-group", class="rounded">
            {{ form.residence.label }}<br>
            {{ form.residence(size=32, placeholder=arg.residence, class="form-group", class="form-text", class="col-md-4") }}<br>
</div>
<div class="form-group">


            {{ form.project.label }}<br>
            {{ form.project(size=32, placeholder=arg.project, class="form-group", class="col-md-4") }}<br>
</div>

<div class="form-group">

            {{ form.projectmanager.label }}<br>
            {{ form.projectmanager(size=32, placeholder=arg.projectmanager, class="form-group", class="col-md-4") }}<br>

</div> 

<div class="form-group">

            {{ form.hardware.label }}<br>
            {{ form.hardware(size=32, placeholder=arg.hardware, class="form-group", class="col-md-4") }}<br>

</div>

<div class="form-group">

            {{ form.technology.label }}<br>
            {{ form.technology(size=32, placeholder=arg.technology, class="form-group", class="col-md-4") }}<br>
</div>
<div class="form-group">

            {{ form.customer.label }}<br>
            {{ form.customer(size=32, placeholder=arg.technology, class="form-group", class="col-md-4") }}<br>
</div>




<div class="form-group">

            <p>{{ form.submit(class="btn btn-primary") }}</p>

</div>
</form>		


{% endblock %}
