  <div  id="container_add" class="flex-item" >
  <div   class="panel panel-warning">
    <div class="panel-heading" ><a href="javascript: edit_row_network('99999' , '{{contract.id}}');" class="btn btn-info btn-sm" id="edit_button99999">
       <span class="glyphicon glyphicon-edit"></span></a>
          <a style="display:none; "href="javascript: save_row_network('99999', '{{contract.id}}');" class="btn btn-success btn-sm" aria-disabled="true" id ="save_button99999">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </a></div>
    <div class="panel-body">
      <table class="table  table-responsive">
        <tr><td>Network: </td><td id="network_contract99999" ></td></tr>
        <tr><td>Gateway: </td><td id="gateway_contract99999" ></td></tr>
        <tr><td>Cdir: </td><td id="cdir_contract99999" ></td></tr>
        <tr><td>Subnet: </td><td id="subnet_contract99999" ></td></tr>
        <tr><td>VIP: </td><td id="vip_contract99999" ></td></tr>
        <tr><td ></td></tr>
      </table>




</div> <!-- Panel Body -->
</div> <!-- End Panel -->
</div> <!-- End flex item -->