{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}


{% block app_content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='locations.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js')}}">\x3C/script>')</script>
  

<div id="container_locations_main" class="container_locations_main" style="width: auto;"> 
<div  id="panel_main" class="panel panel-info">
<div class="panel-heading">Locations</div>
<div class="panel-body">


<a id="button_back" href="{{ url_for('main.customers') }}" class="btn btn-success "> <span class="glyphicon glyphicon glyphicon-left"> </span> Back </a>
        
<table id="table" class="table table-responsive table-sm">
  <thead>
    <tr>
      
      <th scope="col">Residence</th>
      <th scope="col"> Project</th>
      <th scope="col">Projectmanager</th>
      <th scope="col">Hardware</th>
      <th scope="col">Technology</th>
      <th scope="col">Contract</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      
    
      

    </tr>
  </thead>



  <tbody>

{% for list in lists %}


<tr>




</th>
      
      <td id="residence_row{{list.id}}">{{list.residence}}</td>
      <td id="project_row{{list.id}}">{{list.project}}</td>
      <td id="projectmanager_row{{list.id}}">{{list.projectmanager}}</td>
      <td id="hardware_row{{list.id}}">{{list.hardware.first().name}}:{{list.hardware.first().sn}}</td>
      <td id="technology_row{{list.id}}">{{list.technology}}</td>
      <td id="contract_row{{list.id}}">{{list.contract}}</td>
     
      
     <td> <a href="javascript: edit_row({{list.id}});" class="btn btn-info btn-sm" id="edit_button{{list.id}}">
          <span class="glyphicon glyphicon-edit"></span></a>
          <a style="display:none; "href="javascript: save_row({{list.id}});" class="btn btn-success btn-sm" aria-disabled="true" id ="save_button{{list.id}}">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </a>
  

</td>





<td><button id="bmodal2"  onclick="get_data( '{{list.technology}}','{{list.hardware.first().name}}:{{list.hardware.first().sn}}','{{current_user.username}}','{{list.contract}}','{{list.customer.name}}')" type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#modal-statistic1">
<span class="glyphicon glyphicon-stats"></span>
</button>


{{modal('Add Statistic', '-statistic1', wtf.quick_form(form_work,button_map={'submit' : 'success btn btn-sm'}), style="display:none;" )}}



  <td><a href="{{ url_for('main.contract',id=list.id) }}" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-info-sign"></span> </a></td>
<form action="" method="post" style="display:none;">
  {{ form_del.hidden_tag() }}
<td  id="delete_button{{list.id}}" style="display:none;">{{ form_del.id_del(value=list.id, type="hidden") }}
{{ wtf.form_field(form_del.delete, class=" btn btn-danger btn-sm") }}</td> 
</form>


 </tr>           

{% endfor %}

 

</tbody>

</table>



</div> <!--End Div Panel Body-->
</div> 
</div> 




<div class="container" id="container_locations_sub" style="display:none"> 
           {% include '_locations.html' %}

        </div> <!--End Div of container container_locations-->


        
   

    </div>  


{% endblock %}

