{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}



{% block scripts %}

{{ super() }}


<script type="text/javascript" src="{{url_for('static', filename='tinymce/js/tinymce/tinymce.min.js')}}"></script>


 
  <script type="text/javascript">
  tinymce.init({
    selector: '#config-textarea',
    plugins: 'code, searchreplace',
    toolbar: 'code, searchreplace',
    force_br_newlines : true,
    force_p_newlines : false,
    forced_root_block : '',
    convert_newlines_to_brs:'true',
    keep_styles: false,
    entity_encoding: "raw",
    remove_linebreaks : false
    
    

  });
  </script>



{% endblock %}





{% block app_content %}


<form method="post">
    <textarea style="white-space: pre;" id="config-textarea">
    	
{% include '/journals/journal_show_'+journ_id+'.html' %}



    </textarea>
  </form>








{% endblock %}