{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}

{% block app_content %}



{% block scripts %}

{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='contract.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='moment.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='daterangepicker.js')}}"></script>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('DD/MM/YYYY') + ' to ' + end.format('DD/MM/YYYY'));
  });
});
</script>

{% endblock %}















<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active"  id="Charts-tab" data-toggle="tab" href="#Tabs" role="tab" aria-controls="home" aria-selected="true">Tabs</a>

  </li>
  <li class="nav-item">
    <a class="nav-link active" id="Tabs-tab" data-toggle="tab" href="#Charts" role="tab" aria-controls="home" aria-selected="true">Charts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Timeflow</a>
  </li>
 
</ul>
<div class="tab-content" id="TabContent" class="active" >
<div class="tab-pane active in " id="Tabs" role="tabpanel" aria-labelledby="Tabs-tab">


{% include '_statistics_tabs.html' %}


</div> <!--End Div Tab Panel-->

<p></p>


<div class="tab-pane fade out" id="Charts" role="tabpanel" aria-labelledby="Charts-tab" >

{% include '_statistics_charts.html' %}


</div> <!-- End Div Tab Charts-->
</div> <!-- End Div Tab Content -->

{% endblock %}