{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 <!doctype html>
   
   <table class="table table-responsive">
    
    <form method=post enctype=multipart/form-data>
      <td> <label class="btn btn-info btn-sm" id="file-button">Browse
    <input type="file" id="File"  name=file  size="60" >
    </label> </td> <td> <input  class="btn btn-info btn-sm"type=submit value=Upload></td>
    </form>
    </table>
<body>
  <div id="container_customersu_main" class="container_customersu_main" style="width: auto;"> 
<div  id="panel_main" class="panel panel-info">
<div class="panel-heading">Files</div>
<div class="panel-body">
	<table class="table table-responsive">
	
  <tbody>

    {% for i in list %}
     <tr>
    <td><a href="{{ url_for('file.return_files', filename=i ) }}" target="blank">{{i}}</a></td>
    </tr>
{% endfor %}


</tbody>

</table>

</div>
</div>

</body>
{% endblock %}

