{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
 <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file > <input type=submit value=Upload></p>
    </form>
<body>
	<table class="table table-striped table-responsive">
	  <thead>
	    <tr>
	      <th scope="col">Files</th>

	       </tr>
  </thead>

  <tbody>

    {% for i in list %}
     <tr>
    <td><a href="{{ url_for('main.return_files', filename=i ) }}" target="blank">{{i}}</a></td>
    </tr>
{% endfor %}


</tbody>

</table>
</body>
{% endblock %}

